extends layout


block content
  h1= title
  p Welcome to #{title}
  - var results = [{name:"BudLight", type: "Lager", price:12}, {name:"Colt45", type: "Malt", price:13},{name:"WellsIPA", type: "Ale", price:14}]
  -var space="   "
  div(class="container-fluid") 
  div(class="row")
  -
  each item in results
    div(class="col-sm-2") #{item.name} #{item.type} #{item.price}
